<h2>Edit Ticket</h2>

<form method="POST">
    {% csrf_token %}

    <input name="title" value="{{ ticket.title }}" required><br><br>

    <textarea name="description" required>{{ ticket.description }}</textarea><br><br>

    <select name="status">
        <option value="Open" {% if ticket.status == "Open" %}selected{% endif %}>Open</option>
        <option value="Closed" {% if ticket.status == "Closed" %}selected{% endif %}>Closed</option>
    </select><br><br>

    <button type="submit">Update Ticket</button>
</form>