{% extends 'Base/base.html' %}

{% block title %}Verify Tracking{% endblock %}

{% block content %}
{% load static %}
<div class="tracking-wrapper">

    <div class="tracking-card">

       <dotlottie-wc
  src="https://lottie.host/d6c732e6-a817-40c8-989f-135526b5f80f/oYt8HHbM3t.lottie"
  style="width: 300px;height: 300px"
  autoplay
  loop
></dotlottie-wc>
        <p>Enter your tracking ID to continue</p>

        <form method="POST">
            {% csrf_token %}

            <input name="tracking_id"
                   placeholder="Enter Tracking ID"
                   required>

            <button type="submit">
                Verify
            </button>
        </form>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

    </div>

</div>

{% endblock %}