{% extends 'Base/base.html' %} {% block title %}Profile{% endblock %} 
{% block content %}
{% load static %}


<!-- NAVBAR -->
<nav class="navbar px-3">
  <span class="navbar-brand fw-bold">🎫 Ticket System</span>

  <div class="d-flex align-items-center gap-2">
    {% if request.session.tracking_verified %}

    <a href="{% url 'create_ticket' %}" class="btn btn-sm btn-dark">
      + Create Ticket
    </a>
    {% else %}
    <span style="color: #dc2626">❌ Not Verified</span>

    <a href="{% url 'check_tracking' %}" class="btn btn-sm btn-warning">
      Verify ID
    </a>
    {% endif %}

    <a href="{% url 'logout' %}" class="btn btn-sm btn-outline-danger">
      Logout
    </a>
  </div>
</nav>

<div class="profile-container ">
  
  <div class="welcome-card">
    <h4>Welcome {{ user.username }}</h4>
    <p style="color: #6b7280">Manage your tickets easily</p>
  </div>

  
  <div class="table-card">
    <h5 style="margin-bottom: 15px">📌 Your Tickets</h5>

    <div style="overflow-x: auto">
      <table>
        
     <thead>
  <tr>
    <th>#</th>
    <th>Title</th>
    <th>Description</th>
    <th>Purchase</th>
    <th>Category</th>
    <th>Date</th>
    <th>Image</th>
    <th>Document</th>
    <th>Status</th>
  </tr>
</thead>

<tbody>
  {% for ticket in page_obj %}
 <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ ticket.title }}</td>
    <td>{{ ticket.description }}</td>
    <td>{{ ticket.purchase }}</td>
    <td>{{ ticket.category }}</td>
    <td>{{ ticket.created_at }}</td>

    <td>
        {% for img in ticket.images.all %}
            <img src="{{ img.image.url }}" class="ticket-img">
        {% empty %}
            ❌
        {% endfor %}
    </td>

    <td>
        {% if ticket.document %}
            <a href="{{ ticket.document.url }}">📄 View</a>
        {% else %}
            ❌
        {% endif %}
    </td>

    <td>{{ ticket.status }}</td>

    <!-- ✅ COMMENT COLUMN -->
    <!-- <td>
        <div id="comments-{{ ticket.id }}">
            {% for comment in ticket.comments.all %}
                <div style="font-size:13px; background:#f3f4f6; padding:5px; margin:3px 0;">
                    <b>{{ comment.user.username }}</b>: {{ comment.message }}
                </div>
            {% empty %}
                <span style="font-size:12px;">No comments</span>
            {% endfor %}
        </div>

        <input type="text" id="input-{{ ticket.id }}" placeholder="Write comment..." style="width:65%;">

       {% for ticket in page_obj %}
    <button onclick="addComment({ ticketid })">Send</button>
{% endfor %}
    </td> -->
</tr>
  {% endfor %}
</tbody>
<script>
function addComment(ticketId) {
    let input = document.getElementById("input-" + ticketId);
    let message = input.value;

    if(message.trim() === "") return;

    fetch(`/add-comment/${ticketId}/`, {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": "{{ csrf_token }}"
        },
        body: JSON.stringify({
            message: message
        })
    })
    .then(res => res.json())
    .then(data => {
        let commentBox = document.getElementById("comments-" + ticketId);

        commentBox.innerHTML += `
            <div style="font-size:13px; background:#f3f4f6; padding:5px; margin:3px 0; border-radius:6px;">
                <b>${data.user}</b>: ${data.message}
            </div>
        `;

        input.value = "";
    });
}
</script>
{% endblock %}
