{% extends 'Base/base.html' %}

{% block content %}

{%load static%}
<div class="login-wrapper">
    <div class="card-ui">

        <dotlottie-wc
  src="https://lottie.host/4b5dbd6c-b5a6-40bd-b986-40c1641c6828/S0xuAlCaCM.lottie"
  style="width: 300px;height: 300px"
  autoplay
  loop
></dotlottie-wc>

        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}

            <input class="form-control mb-3"
                   name="mobile"
                   placeholder="Enter Mobile Number"
                   required>

            <button type="submit" class="primary-btn w-100">
                Send OTP
            </button>
        </form>

        {% if error %}
        <p class="text-danger mt-3">{{ error }}</p>
        {% endif %}

        <div class="link-text">
            New user? <a href="{% url 'register' %}">Create Account</a>
        </div>

    </div>
</div>

{% endblock %}