{% extends 'Base/base.html' %}
{% block title %}Verify Otp{% endblock %}
{% block content %}
{% load static %}

<div class="otp-wrapper">
    <div class="otp-card">

       <dotlottie-wc
  src="https://lottie.host/a4274b67-7ff7-4355-a0ad-1cd372e9fe7d/bsfjTx60wJ.lottie"
  style="width: 300px;height: 300px"
  autoplay
  loop
></dotlottie-wc>
        <p>Enter the 4-digit code sent to your mobile</p>

        <form method="POST">
            {% csrf_token %}

            <div class="otp-boxes">
                <input type="text" maxlength="1" class="otp-input" required>
                <input type="text" maxlength="1" class="otp-input" required>
                <input type="text" maxlength="1" class="otp-input" required>
                <input type="text" maxlength="1" class="otp-input" required>
            </div>

            <!-- hidden real input -->
            <input type="hidden" name="otp" id="otpValue">

            <button type="submit" class="verify-btn">
                Verify OTP
            </button>
        </form>

        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}

        <div class="resend">
            Resend OTP in <span id="timer">60</span>s <br>
            <a href="{% url 'resend_otp' %}" id="resendBtn" class="disabled">
                Resend OTP
            </a>
        </div>

    </div>
</div>

<script>
let inputs = document.querySelectorAll(".otp-input");
let hiddenInput = document.getElementById("otpValue");

// auto move + combine OTP
inputs.forEach((input, index) => {
    input.addEventListener("input", () => {
        if (input.value.length === 1 && index < inputs.length - 1) {
            inputs[index + 1].focus();
        }

        let otp = "";
        inputs.forEach(i => otp += i.value);
        hiddenInput.value = otp;
    });
});

// backspace support
inputs.forEach((input, index) => {
    input.addEventListener("keydown", (e) => {
        if (e.key === "Backspace" && !input.value && index > 0) {
            inputs[index - 1].focus();
        }
    });
});

// timer
let timeLeft = 60;
let timer = document.getElementById("timer");
let resendBtn = document.getElementById("resendBtn");

let countdown = setInterval(() => {
    timeLeft--;
    timer.innerText = timeLeft;

    if (timeLeft <= 0) {
        clearInterval(countdown);
        timer.innerText = "0";
        resendBtn.classList.remove("disabled");
    }
}, 1000);
</script>

{% endblock %}